---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'code'
    value: page.code
  - label: 'label'
    value: page.label
  - label: 'objeto'
    value: page.objeto
  - label: 'object'
    value: page.object
  - label: 'Object Type'
    value: page.object_type
  - label: 'Date Manufacture'
    value: page._date_manufacture
  - label: 'Place of Manufacture'
    value: page.place_manufacture
  - label: 'Descripción'
    value: page.description
  - label: 'link'
    value: page.source
    type:  link
---
